.p {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-wrapper a img {
    transition: all .2s ease;
}

.p-wrapper a img:hover {
    transform: scale(1.04);
}